
@using React.Sample.SSS.SelfHost.ServiceModel
@using ServiceStack

@inherits ServiceStack.Razor.ViewPage<React.Sample.SSS.SelfHost.ViewModel.IndexViewModel>
@{
    ViewBag.Title = "ServiceStack Self Host with Razor";

    Model.Comments = new List<CommentModel>();
}

<h2>Hello World Service</h2>

<form action="@(new HelloModel().ToPostUrl())">

    <div>

        <p>
            This is an example of ReactJS.NET's server-side rendering. The initial state of this
            comments box is rendered server-side, and additional data is loaded via AJAX and rendered
            client-side.
        </p>

        <input class="form-control input-lg" name="Name" type="text" placeholder="Type your name">

        <button>Submit</button>

    </div>
    @*<!-- Render the component server-side, passing initial props -->
    @Html.React("CommentsBox", new { initialComments = Model.Comments, page = Model.Page })

    <!-- Load all required scripts (React + the site's scripts) -->
    <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    @Bundles.RenderScripts()
    <!-- Render the code to initialise the component -->
    @Html.ReactInitJavaScript()*@

</form>